.player__container {
  position: relative;
}

.player__bar {
  position: absolute;
  top: 1;
  left: 140px;
  -webkit-appearance: none;
  width: 85%;
  height: 560px;
  background: transparent;
  z-index: 2;
  cursor: pointer;
}
.player__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.player__bar_disable {
  opacity: 0.5;
  transition: 0.2s ease;
}

.player__bar:focus {
  outline: none;
}

.player__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 550px;
  width: 1px;
  background: rgb(0, 0, 0);
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .player__bar {
    left: 140px;
    width: 80%;
    height: 560px;
  }
  .player__bar::-webkit-slider-thumb {
    height: 550px;
  }
}

@media screen and (max-width: 820px) {
  .player__bar {
    left: 140px;
    width: 75%;
    height: 470px;
  }
  .player__bar::-webkit-slider-thumb {
    height: 460px;
  }
  .player__title{
    font-size: 24px;
    }
}

@media screen and (max-width: 620px) {
  .player__bar {
    left: 140px;
    width: 60%;
    height: 380px;
  }
  .player__bar::-webkit-slider-thumb {
    height: 370px;
  }
  .player__title{
  font-size: 20px;
  }
}
